/**
*** General styles
**/
::-webkit-selection	{
	background: #fb8078;
	text-shadow: none;
}
::-moz-selection	{
	background: #fb8078;
	text-shadow: none;
}
::selection	{
	background: #fb8078;
	text-shadow: none;
}
html	{
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	min-height: 100%;
	min-width: 100%;
	font-size: 1em;
	font-family: "Open sans", sans-serif;
}
h1, h2, h3, h4, h5, p, span	{
	padding: 1em;
}
h1	{
	font-size: 2em;
}
h2	{
	font-size: 1.8em;
}
h3	{
	font-size: 1.6em;
}
h4	{
	font-size: 1.4em;
}
h5	{
	font-size: 1.2em;
}
p	{
	text-align: justify;
}

/**
*** Specific styles
**/
.header	{
	width: 100%;
	min-width: 720pt;
	height: auto;
	float: left;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.logo	{
	float: left;
	height: 1.5em;
	padding: 1em;
	background: #c31106;
	text-align: center;
	cursor: default;
}
.logo h1	{
	color: #feeceb;
	font-size: 1.2em;
	padding: 0em;
}
.nav	{
	height: 1.5em;
	padding: 1em;
	float: right;
}
.nav a	{
	width: 10em;
	font-size: 0.8em;
	padding: 0em 1em;
	color: #333;
	text-decoration: none;
}
.nav span	{
	color: #333;
}
.content	{
	float: left;
}
.tag	{
	color: #666;
}
.posts	{
	margin: 0 auto;
	min-width: 720pt;
	width: 80%;
}
.post	{
	padding-bottom: 2.5em;
	border-bottom: solid 1px #c31106;
}
.post h1	{
	padding-left: 0.5em;
}
.post:last-child	{
	border-bottom: none;
}
.timestamp	{
	padding: 1em;
}
.link	{
	padding: 1em;
	float: right;
}
.link a	{
	color: inherit;
	text-decoration: none;
}
.pagination	{
	width: 10em;
	height: 2em;
	margin: 2em auto;
	text-align: center;
}
.pagination a	{
	color: #c31106;
}
.footer	{
	width: 100%;
	height: 10em;
	background: #ddd;
	float: left;
}