{% extends "layout.twig" %}
{% block content %}
  {% if posts|length > 0 %}
  <div class="posts">
  {% for post in posts %}
    <div class="post">
			<div class="timestamp">
				{{ post.index.timestamp }}
			</div>
      {{ post.content|raw }}
      {% if post.index.tags| length > 0 %}
      <div class="tags">
        {% for tag in post.index.tags %}
        <span class="tag">#{{ tag }}</span>
        {% endfor %}
			</div>
      {% endif %}
			<div class="link">
				<a href="post/{{ post.stub }}">&rarr;</a>
			</div>
		</div>
  {% endfor %}
	</div>
  {% endif %}
{% endblock %}