<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Alemanac</title>
	<link rel="stylesheet" href="resources/css/cssreset.css" type="text/css" charset="utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="resources/css/master.css" type="text/css" charset="utf-8" />
	<script type="text/javascript" charset="utf-8" src="resources/js/master.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="logo">
			<h1>Alemanac</h1>
		</div>
		<div class="nav">
			<a href="#">Home</a><span>|</span>
			<a href="#">Beers</a><span>|</span>
			<a href="#">Contact</a>
		</div>
	</div>
  <div class="content">
		{% block content %}{% endblock %}
		<div class="pagination">
			<a href="#">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
		</div>
	</div>
	<div class="footer">
		
	</div>
</body>
</html>
